/*  (*)-Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: yellow; /*set background-color for the container to yellow*/
    border: 1px solid black; /*Add border to the container*/
    width: 50vw; /*Set width of container to 50% of the viewport*/
    height: auto; /*Set to auto to auto-adjust according to the content inside*/
    margin: 100px auto 0 auto; /*Set margin-top:100px, margin-right:auto, margin-bottom:0 margin-left:auto*/
    padding: 50px; /*Create 50px space between container border and it's content*/
}
.outer{
    color: azure; /**/
    background-color: black; /*set background-color for the outer element to black*/
    width: 100%; /*Set width of the outer element to 100% of the container*/
    height: auto; /*Set to auto to auto-adjust according to the content inside*/
    margin-bottom: 20px; /*Set to create 20px space from the inner element's margin*/
    padding: 20px; /*Create 20px space between outer element's border and it's content*/
    text-align: center; /*Align the text to the center*/
}
.outer p, .inner p{
    padding: 10px; /*Create 10px space around the paragraph*/
}
.inner{
    color: rgb(0, 0, 0); /**/
    background-color: lightslategrey; /**/
    width: 100%; /*Set width of the outer element to 100% of th*/
    height: auto; /*Set to auto to auto-adjust according to the content inside*/
    padding: 20px; /*Create 20px space between innner element's border and it' s content*/
    text-align: center; /*Align the text to the center*/
}