header {
    
    padding: 20px;
    margin: 20px;
    background-color: lightgreen;
    box-shadow: 5px 5px 5px black;

}

header h1 {
    letter-spacing: 3px;
    text-shadow: 2px 2px white, 4px 4px coral;
    text-align: center;
}

p {
    opacity: 0.5;
    color: black;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 200px;
    filter: saturate(150%);
}