:root {
    --primary-color: rgb(237, 237, 7);
    --secondary-color: #000000;
    --text-color: #ffffff;
    --font-size: 16px;
    --footer-bg-color: hsl(0, 1%, 65%);
    --letter-spacing: 0.5px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.2rem;
    text-align: center;
}

ul li {
    list-style-type: none;
    font-size: 1rem;
    color: var(--secondary-color);
    padding: 10px 40px;
    background-image: url(images/icons8-check-30.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: var(--primary-color);
    height: 20px;
    padding: 3px;
}

td {
    text-align: center;
    padding: 3px;
}

section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 5px 30px;
    border-radius: 20px;
    letter-spacing: var(--letter-spacing);
}

footer {
    background-color: var(--footer-bg-color);
    font-size: var(--font-size);
    color: rgb(0, 0, 0);
    padding: 2px;
    text-align: center;
}